.nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid rgb(136, 123, 123);
}

.logo img{
    height: 50px;
    width: auto;
}

.menu{
    display: grid;
    grid-auto-flow: column;
    gap:2rem;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    color:inherit;
    font-size: 0.95rem;

}
.auth{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}
.btn{
    padding: 0.6rem 1.4rem;
    border-radius: 2rem;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
     
}

.btn:hover{
    transform: scale(1.08);
}

.outline{
    background: transparent;
    border: 1px solide black;
    color: black;
}
.solid{
    background: black;
    color:white
}
.p{
    line-height: 
}

.cta{
    background-color: blue;
    color:#fff;
    margin-top: 1.5rem;
}
.hero{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap:3rem
}
.hero-text h1{
    font-size:clamp(2rem, 5vw, 4rem);
    line-height:1.1;
}
.hero-text p{
    max-width:40ch;
    margin-top: 1rem;
}
.hero-art{
    display: grid;
    place-items: center;
    position: relative;
    top: -3rem;
}
.hero{
    margin-bottom: 1rem;
    align-items: center;
}
.hand{
    font-size: 6rem;
}

.page{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap:2rem;
}


.stone{
    position: absolute;
    top: 10%;
    font-size: 3rem;
}
.barcode{
    position: absolute;
    bottom: 10%;
    letter-spacing: 0.2em;
}

.bear{
    position: relative;
    top: -20px;
    height: 120px;
    width: auto;
}
 .loin{
    height: 120px;
    width: auto;
}
.cat{
    height: 120px;
    width: auto;
} 
.stones{
    padding-top: 90px;
    height: 150px;
    width: auto;
} 
.hands{
    height: 700px;
    width: auto;
} 
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:2rm;
    position: relative;
    margin-top: -8rem;
    margin-top: 0;
    position: static;
    top: 0;
}

.h1{
    margin-top: 2px;
}
.card{
    background: #F9f3ee;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.3s ease box-shadow 0.3s ease;
}
.tag{
    margin: 10px;
    font-size: 3rem;
}

.card:hover{
    transform: rotateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15)
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
    text-align: center;
    font-size: 0.9rem;
}
@media(max-width:768){
    .hero{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* .menu{
    display: none;
} */